#viewport {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    max-width: 100vw;
}

#player {
    position: absolute;
    z-index: 1;
}

.bSeg {
    height: 40px;
    width: 40px;
    border: 0.5px solid transparent;
}