#app {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/*GENERIC CSS TYPES*/

.defMouse {
  cursor: default;
}

.actMouse {
  cursor: pointer;
}

.block {
  display: block;
}

.inBlock {
  display: inline-block;
}

.flex {
  display: flex;
}

.inFlex {
  display: inline-flex;
}

.colFlex {
  display: flex;
  flex-direction: column;
}