#gameBox {
    height: 100%;
}

/*SQUARE MAP*/

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 5px;
}

.rowTile {
    display: flex;
    height: 40px;
}

.colTile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    border: 1px dotted grey;
}

/*HEX MAP*/

#hexGrid {
    position: relative;
    display: flex;
    justify-content: center;
}

.hex {
    position: absolute;
}

.hex:before,
.hex:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    background-color: inherit;
}

.hex:before {
    transform: rotate(60deg);
}

.hex:after {
    transform: rotate(-60deg);
}

.cor {
    position: absolute;
    font-size: 0.7rem;
    margin: 10px 0;
    z-index: 3;
}