#viewport {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    max-width: 100vw;
}

#hexGrid {
    position: relative;
    display: flex;
    justify-content: center;
}

.hex {
    position: absolute;
}

.hex:before,
.hex:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    background-color: inherit;
}

.hex:before {
    transform: rotate(60deg);
}

.hex:after {
    transform: rotate(-60deg);
}

/*only for checks*/

.info {
    position: absolute;
    font-size: 0.7rem;
    margin: 10px 0;
    z-index: 3;
}